
/* basic style */

html {
    font-size: 10px;
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.411764705882353px;
    }
}

html, body {
    height: 100%;
}

body {
    background: #111111;
    font-family: "lora-regular", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.765;
    color: #757575;
    margin: 0;
    padding: 0;
}



/* fonts (yay) & general style */

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "montserrat-medium", sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 6rem;
    margin-bottom: 1.8rem;
}

@media only screen and (max-width: 600px) {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
        margin-top: 5.1rem;
    }
}

h5, .h5, h6, .h6 {
    margin-top: 4.2rem;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
    h5, .h5, h6, .h6 {
        margin-top: 3.6rem;
        margin-bottom: 0.9rem;
    }
}

h1, .h1 {
    font-size: 2.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

@media only screen and (max-width: 600px) {
    h1, .h1 {
        font-size: 2.3rem;
        letter-spacing: -.07rem;
    }
}

h2, .h2 {
    font-size: 3rem;
    line-height: 1.3;
}

h3, .h3 {
    font-size: 2.4rem;
    line-height: 1.25;
}

h4, .h4 {
    font-size: 2.1rem;
    line-height: 1.286;
}

h5, .h5 {
    font-size: 1.6rem;
    line-height: 1.313;
}

h6, .h6 {
    font-size: 1.3rem;
    line-height: 1.385;
    text-transform: uppercase;
    letter-spacing: .16rem;
}

p img {
    margin: 0;
}

p.lead {
    font-family: "montserrat-regular", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 3.6rem;
    color: #000000;
}

@media only screen and (max-width: 800px) {
    p.lead {
        font-size: 1.8rem;
    }
}



/* spacing */

button, .btn {
    margin-bottom: 1.2rem;
}

fieldset {
    margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.video-container,
.cl-custom-select {
    margin-bottom: 3rem;
}


/* stats (block1) */

.stats-tabs {
    padding: 0;
    margin: 3rem 0;
}

.stats-tabs li {
    display: inline-block;
    margin: 0 1.5rem 3rem 0;
    padding: 0 1.5rem 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.stats-tabs li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.stats-tabs li a {
    display: inline-block;
    font-size: 2.5rem;
    font-family: "montserrat-regular", sans-serif;
    font-weight: bold;
    border: none;
    color: #000000;
}

.stats-tabs li a:hover {
    color: #FCC30B;
}

.stats-tabs li a em {
    display: block;
    margin: .6rem 0 0 0;
    font-size: 1.4rem;
    font-family: "montserrat-regular", sans-serif;
    color: #828282;
}


/* headings */

.display-1 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 7.8rem;
    line-height: 1.25;
    color: #000000;
    margin-top: 0;
}

.display-1--light {
    color: #FFFFFF;
}

.display-2 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 5.2rem;
    line-height: 1.255;
    color: #000000;
    margin-top: 0;
}

.display-2--light {
    color: #FFFFFF;
}

.subhead + .display-2 {
    margin-top: .6rem;
}

.subhead {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.7rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #FCC30B;
    margin-top: 0;
    margin-bottom: 0;
}

.subhead--dark {
    color: #000000;
}



/* section header text font */

.section-header {
    text-align: center;
    position: relative;
    margin-bottom: 3.6rem;
    max-width: 960px;
}

.section-header.has-bottom-sep {
    padding-bottom: 2.1rem;
    position: relative;
}

.section-header.has-bottom-sep::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-header.has-bottom-sep.light-sep::before {
    background-color: rgba(255, 255, 255, 0.05);
}

/* header style */

.s-header {
    width: 100%;
    height: 96px;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 500;
}


/* header logo */

.header-logo {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 501;
}

.header-logo a {
    display: block;
    margin: 9px 0 0 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 80px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* navbar */

.header-nav {
    background: #0C0C0C;
    color: rgba(255, 255, 255, 0.25);
    font-family: "montserrat-light", sans-serif;
    font-size: 1.3rem;
    line-height: 1.846;
    padding: 3.6rem 3rem 3.6rem 3.6rem;
    height: 100%;
    width: 280px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 700;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
}

.header-nav a, .header-nav a:visited {
    color: rgba(255, 255, 255, 0.5);
}

.header-nav a:hover,
.header-nav a:focus,
.header-nav a:active {
    color: white;
}

.header-nav h3 {
    font-family: "montserrat-semibold", sans-serif;
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
    color: #FCC30B;
}

.header-nav p {
    margin-bottom: 2.7rem;
}

.header-nav__content {
    position: relative;
    left: 50px;
    opacity: 0;
    visibility: hidden;
}

.header-nav__list {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.8rem;
    margin: 3.6rem 0 3rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
}

.header-nav__list li {
    padding-left: 0;
    line-height: 4.5rem;
}

.header-nav__list a,
.header-nav__list a:visited {
    color: #FFFFFF;
}


.header-nav__close {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 36px;
    right: 30px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    z-index: 800;
}

.header-nav__close span::before, 
.header-nav__close span::after {
    content: "";
    display: block;
    height: 2px;
    width: 12px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -1px;
}

.header-nav__close span::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header-nav__close span::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-is-open .header-nav {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}

.menu-is-open .header-nav .header-nav__content {
    opacity: 1;
    visibility: visible;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    left: 0;
}


/* menu blacken thingie toggle */

.header-menu-toggle {
    position: fixed;
    right: 38px;
    top: 24px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: "montserrat-medium", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #FCC30B;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-menu-toggle.opaque {
    background-color: #000000;
}

.header-menu-toggle.opaque .header-menu-text {
    background-color: #000000;
}

.header-menu-toggle:hover, .header-menu-toggle:focus {
    color: #FFFFFF;
}

.header-menu-text {
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    width: 70px;
    padding-left: 12px;
}

.header-menu-icon {
    display: block;
    width: 22px;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    left: 10px;
    top: 50%;
    right: auto;
    bottom: auto;
    background-color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-menu-icon::before, .header-menu-icon::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-menu-icon::before {
    top: -9px;
}

.header-menu-icon::after {
    bottom: -9px;
}



/* ladding page */

.s-home {
    text-align:center;
    width: 100%;
    height: 100%;
    min-height: 786px;
    background-color: transparent;
    position: relative;
    display: table;
}


.s-home .overlay {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: #000000;
}

/* landing page content */

.home-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding-bottom: 15.6rem;
    position: relative;
    overflow: hidden;
}

.home-content h3 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: relative;
    margin-top: 0;
    margin-bottom: 1.2rem;
    margin-left: 6px;
}

.home-content h1 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 6.3rem;
    line-height: 1.333;
    margin-top: 0;
    color: #FFFFFF;
}

.home-content__main {
    padding-top: 24rem;
    position: relative;
}

.home-content__buttons {
    padding-top: 6rem;
    text-align: left;
}

.home-content__buttons .btn {
    width: 215px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin: 1.5rem 1.5rem 0 0;
    letter-spacing: .25rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-content__buttons .btn:last-child {
    margin-right: 0;
}

.home-content__buttons .btn:hover, 
.home-content__buttons .btn:focus {
    background: #FFFFFF !important;
    color: #000000;
}

.home-content__scroll {
    position: absolute;
    right: 9.5rem;
    bottom: 8.4rem;
}

.home-content__scroll a {
    font-family: "montserrat-semibold", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #FFFFFF;
    position: relative;
    display: inline-block;
    line-height: 3rem;
    padding-left: 2.5rem;
}

.home-content__scroll a::before {
    border-bottom: 2px solid #FCC30B;
    border-right: 2px solid #FCC30B;
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    margin-top: -6px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.home-content__line {
    display: block;
    width: 2px;
    height: 10.2rem;
    background-color: #FCC30B;
    position: absolute;
    right: 7.2rem;
    bottom: 0;
}





/* block 1 */

.s-block1 {
    padding-top: 16.2rem;
    padding-bottom: 9rem;
    background-color: #FCC30B;
    color: #010507;
    position: relative;
}

.s-block1 .section-header.has-bottom-sep::before {
    background-color: rgba(255, 255, 255, 0.25);
}

.block1-desc {
    font-size: 2.4rem;
    line-height: 1.75;
    text-align: center;
    max-width: 1024px;
}


/* block1 stats */
.block1-stats {
    text-align: center;
}

.stats__col {
    margin: 5.4rem 0;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.stats__col:last-child {
    border-right: none;
}

.stats__count {
    font-family: "montserrat-bold", sans-serif;
    font-size: 8.4rem;
    line-height: 1;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stats h5 {
    font-family: "montserrat-semibold", sans-serif;
    margin-top: 1.8rem;
    color: #000000;
    font-size: 1.8rem;
    line-height: 1.333;
    position: relative;
}

.block1 {
    display: block;
    width: 2px;
    height: 10.2rem;
    background-color: #FFFFFF;
    position: absolute;
    right: 7.2rem;
    top: 0;
}



/* block2 */

.s-block2 {
    padding-top: 16.2rem;
    padding-bottom: 13.2rem;
    background-color: #FFFFFF;
    color: #757575;
    position: relative;
}


/* block2 list */

.block2-list {
    margin-top: 6rem;
}

.block2-list .block2-item {
    margin-bottom: .9rem;
}

.block2-list .block2-item h3 {
    margin-top: 0;
}

.block2-list .block2-item:nth-child(2n+1) {
    padding-right: 50px;
}

.block2-list .block2-item:nth-child(2n+2) {
    padding-left: 50px;
}

.block2-list .block2-text {
    margin-left: 7.8rem;
}

.block2-list .block2-icon {
    float: left;
    color: #FCC30B;
    font-size: 4.8rem;
    margin-top: -.6rem;
}



/* footer */

footer {
    padding: 9rem 0 6rem;
    font-family: "montserrat-light", sans-serif;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
}

footer h4 {
    color: #FFFFFF;
    font-size: 2.4rem;
    line-height: 1.313;
    margin-top: 0;
    margin-bottom: 3.6rem;
}

footer a {
    color: #FFFFFF;
}

footer a:hover, footer a:focus, footer a:active {
    color: #FCC30B;
}

footer .row {
    max-width: 980px;
}


/* footer main */

.footer-main {
    text-align: left;
}

.footer-main .left {
    padding-right: 40px;
}

.footer-main .right {
    padding-left: 40px;
}

.footer-logo {
    display: block;
    margin: -.6rem 0 3.6rem 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 65px;
    height: 50px;
    background: url("../images/logo-footer7.png") no-repeat center;
    background-size: 65px 50px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* footer bottom */

.footer-bottom {
    margin-top: 5.4rem;
    text-align: center;
    font-size: 14px;
}

.footer-bottom .copyright span {
    display: inline-block;
}

.footer-bottom .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.05);
}

.footer-bottom .copyright span:last-child::after {
    display: none;
}

